name: ci

on:
  pull_request:
    branches:
    - '**'

permissions:
  contents: read

jobs:
  lint_test:
    uses: babylonlabs-io/.github/.github/workflows/reusable_go_lint_test.yml@cfbd5e4db5e575edf77a160fe533918c4f3a4498  # v0.13.2
    with:
      go-version: '1.24.1'
      go-lint-version: 'v2.7.2'
      run-unit-tests: true
      run-integration-tests: true
      run-lint: true

  docker_pipeline:
    uses: babylonlabs-io/.github/.github/workflows/reusable_docker_pipeline.yml@5151754256060bf160c411d0784f831f29882106  # v0.13.4
    secrets: inherit
    with:
      publish: false
