name: ci

on:
  pull_request:
    branches:
    - '**'

permissions:
  contents: read

jobs:
  lint_test:
    uses: babylonlabs-io/.github/.github/workflows/reusable_go_lint_test.yml@92817762adb32ebbe832abfebe98efa09f7072e2 #v0.13.5
    with:
      go-version: '1.24.1'
      go-lint-version: 'v2.7.2'
      run-unit-tests: true
      run-integration-tests: true
      run-lint: true

  docker_pipeline:
    uses: babylonlabs-io/.github/.github/workflows/reusable_docker_pipeline.yml@92817762adb32ebbe832abfebe98efa09f7072e2 #v0.13.5
    secrets: inherit
    with:
      publish: false
