name: docker_publish

on:
  push:
    branches:
    - 'release/*'
    tags:
    - '*'
  workflow_dispatch:
    inputs:
      skip-lint-test:
        description: "Skip tests"
        required: false
        type: boolean
        default: false

permissions:
  contents: read

jobs:
  lint_test:
    uses: babylonlabs-io/.github/.github/workflows/reusable_go_lint_test.yml@847cd8a6ff9c64e401ce922d12532979d9ac5e93 # v0.14.5
    if: ${{ !(github.event_name == 'workflow_dispatch' && inputs['skip-lint-test'] == true) }}
    with:
      go-version: '1.23'
      go-lint-version: 'v1.60.2'
      run-unit-tests: true
      run-integration-tests: true
      run-lint: true
      run-gosec: true

  docker_pipeline:
    # Always evaluate, but only proceed if:
    # - skip is enabled, or lint_test succeeded (normal path)
    if: ${{ always() && (
            (github.event_name == 'workflow_dispatch' && inputs['skip-lint-test'] == true) ||
            needs.lint_test.result == 'success'
          )}}
    needs: ["lint_test"]
    uses: babylonlabs-io/.github/.github/workflows/reusable_docker_pipeline.yml@847cd8a6ff9c64e401ce922d12532979d9ac5e93 # v0.14.5
    secrets: inherit
    permissions:
      # required for all workflows
      security-events: write
      # required to fetch internal or private CodeQL packs
      packages: read
    with:
      publish: true
